body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #333;
    text-align: center;
}
button {
	color: #333;
}