<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hangboard Interval Application</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
	<script src="bower_components/angular-timer/dist/assets/js/angular-timer-all.min.js"></script>
</head>
<body>

<div class="container" ng-app="myApp" ng-controller="myCtrl">
	<div id="workouts" class="row">
		<button ng-view ng-click="loadWorkout()" ng-repeat="(key, value) in workouts ">
	    	{{ key }}
	  	</button> 
	</div>
	<div class="row" id="hands" >
		<div class="col-xs-6 left-hand">
			<h2>{{ leftHand.edge }}</h2>
			<h3>{{ leftHand.size }}</h3>
			<h3>{{ leftHand.style }}</h3>
			<h4 class="set">Set {{ set }}/{{ setMax }}</h4>
		</div>
		<div class="col-xs-6 right-hand">
			<h2>{{ rightHand.edge }}</h2>
			<h3>{{ rightHand.size }}</h3>
			<h3>{{ rightHand.style }}</h3>
			<h4 class="rep">Rep {{ rep }}/{{ repMax }}</h4>
		</div>
	</div>
	<div class="row">
		<div class="the-timer">

			<timer autostart="false" countdown="5" interval="1000" finish-callback="intervalCallback()">{{millis | date:'mm:ss'}}</timer>

	        <button class="left-button" ng-click="nextSet()" ng-disabled="lastSet">Next Set</button>
	        <button class="right-button" ng-click="nextRep()" ng-disabled="lastRep">Next Rep</button>
	    </div>
		<div class="timer-status">
			{{status}}

	        <button class="left-button" ng-click="startTimer()" ng-disabled="!workoutLoaded + timerRunning">Start</button>
	        <button class="right-button" ng-click="stopTimer()" ng-disabled="!timerRunning">Stop</button><br />
    	</div>
	</div>
</div>

<script>
var app = angular.module("myApp", ["ngAnimate", "timer"]);
app.controller("myCtrl", function($scope, $http) {
	$scope.firstRun = true;
	$scope.timerRunning = false;
	$scope.workoutLoaded = false;
	$scope.tensionBoard = null;
	$scope.workouts = null;
	$scope.lastSet = true;
	$scope.lastRep = true;
	$http
	({
      method: 'GET',
      url: 'data/tension-board.json'
  	}).then(function (success) {
            $scope.tensionBoard = success.TensionBoard;
            $scope.workouts = success.data.Workouts;
    },function (error, data, status, headers, config) {
    	console.log(error);
    });

	$scope.loadWorkout = function(){
		console.log("Loaded " + this.key);
		$scope.endTimer();
		$scope.theWorkout = $scope.workouts[this.key];
		$scope.theWorkout.name = this.key;

        $scope.$broadcast('timer-set-countdown-seconds', $scope.theWorkout.config.leadDelay);

		$scope.workoutLoaded = true;
	    $scope.set = 1;
	    $scope.rep = 1;
	    $scope.leftHand = null;
	    $scope.rightHand = null;
	    $scope.status = "Wait for it...";
	    $scope.setMax = $scope.theWorkout.config.setNum;
	    $scope.repMax = $scope.theWorkout[$scope.set].config.repMax;
	}

    $scope.intervalCallback = function() {
    	if (!$scope.firstRun && $scope.workoutLoaded) {
    		if ($scope.set <= $scope.setMax) {
		    	if ($scope.status == "Hang Time") {
		    		if ($scope.rep == $scope.repMax) {
				    	$scope.$broadcast('timer-add-cd-seconds', $scope.theWorkout[$scope.set].config.restSetTime);
				    	$scope.set++;
				    	console.log("Set: "+$scope.set);
				    	$scope.rep = 0;
		    		} else {
				    	$scope.$broadcast('timer-add-cd-seconds', $scope.theWorkout[$scope.set].config.restRepTime);
				    }
				    $scope.updateHands();
			    	$scope.status = "Rest Time";
		    	} else {
			    	$scope.$broadcast('timer-add-cd-seconds', $scope.theWorkout[$scope.set].config.hangTime);
			    	$scope.rep++;
			    	$scope.status = "Hang Time";    		
		    	}
		    } else {
		    	$scope.status = "All Done";	
		    }
	    } else {
	    	$scope.$broadcast('timer-add-cd-seconds', $scope.theWorkout[$scope.set].config.hangTime);
	    	$scope.status = "Hang Time";  
	    }
	    $scope.firstRun = false;
    }

    $scope.startTimer = function (){
    	if ($scope.workoutLoaded) {
    		console.log("Set: "+$scope.set);
		    $scope.lastSet = false;
		    $scope.lastRep = false;
    		$scope.updateHands();
	        $scope.beginTimer();
       }
    };

    $scope.stopTimer = function (){
    	if ($scope.workoutLoaded) {
	        $scope.endTimer();
       }
    };

    $scope.nextRep = function() {
    	if ($scope.timerRunning) {
    		if ($scope.rep == $scope.repMax) {
    			if ($scope.set != $scope.setMax) {
			    	$scope.$broadcast('timer-set-countdown-seconds', $scope.theWorkout[$scope.set].config.restSetTime);
			    	$scope.set++;
			    	$scope.rep = 0;
		    		$scope.status = "Rest Time";
			    	$scope.updateHands();
		    	} else {
			    	$scope.lastRep = true;
		    	}
		    } else {
		    	$scope.rep++;
	    		$scope.$broadcast('timer-set-countdown-seconds', $scope.theWorkout[$scope.set].config.restRepTime);
	    		$scope.status = "Rest Time";
		    }
    	}
    };

    $scope.nextSet = function() {
    	if ($scope.timerRunning) {
	    	$scope.set++;
			if ($scope.set < $scope.setMax) {
		    	$scope.$broadcast('timer-set-countdown-seconds', $scope.theWorkout[$scope.set].config.restSetTime);
		    	$scope.rep = 0;
	    		$scope.status = "Rest Time";
		    	$scope.updateHands();
	    	} else {
		    	$scope.lastSet = true;
	    	}
	    }
    };

    // Utility Functions //

    $scope.endTimer = function() {
    	$scope.$broadcast('timer-stop');
    	$scope.timerRunning = false;
    };

    $scope.beginTimer = function() {
    	$scope.$broadcast('timer-start');
        $scope.timerRunning = true;
    };

    $scope.updateHands = function() {
		$scope.leftHand = {"edge": $scope.theWorkout[$scope.set].Left.edge,
	    	"size": $scope.theWorkout[$scope.set].Left.size,
	    	"style": $scope.theWorkout[$scope.set].Left.style};
	    $scope.rightHand = {"edge": $scope.theWorkout[$scope.set].Right.edge,
	    	"size": $scope.theWorkout[$scope.set].Right.size,
	    	"style": $scope.theWorkout[$scope.set].Right.style};
    };
});
</script>

</body>
</html>